
/* <editor-fold desc="General styles">*/
.root-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    min-height: 100vh;
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

.main,
.header {
    width: 100%;
    margin: 0 auto;
}

.header {
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.main {
    flex-grow: 1;
    height: 100%;
}

footer {
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    font-size: 1.5em;
}

.content {
    max-width: 50em;
    width: 100%;
    margin: 0 auto;
    padding: 0 2.5%;
}
/* </editor-fold desc="General styles">*/

/* <editor-fold desc="Header">*/
.header__heading {
    font-size: 3em;
    margin: 0;
}
/* </editor-fold desc="Header">*/

/* <editor-fold desc="Accordion">*/
.meme-accordion {
    display: grid;
    grid-template-rows: 1fr;
}

.meme-accordion__element__label {
    font-size: 2em;
}

.meme-accordion__element__content {
    display: grid;
    align-content: center;
    justify-items: center;
}

.meme-accordion__element__content__img {
    width: 75%;
    margin: 3% 0 3% 0;
}

.footer__content {
    text-align: center;
}
/* </editor-fold desc="Accordion">*/