
/* <editor-fold desc="General styles">*/
.root-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
}

.main,
.header {
    width: 100%;
    margin: 0 auto;
}

.header {
    height: 6em;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: #F5F5EB;
}

.main {
    flex-grow: 1;
    height: 100%;
    background-color: #F5F5EB;
}

footer {
    height: 4em;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    font-size: 1.5em;
    color: #000000;
    text-shadow: 0.075em 0.075em 0.1em rgba(0,0,0,0.5);
    background-color: #F5F5EB;
}

.content {
    max-width: 50em;
    width: 100%;
    margin: 0 auto;
    padding: 0 2.5%;
}
/* </editor-fold desc="General styles">*/

/* <editor-fold desc="Header">*/
.header__heading {
    font-family: 'Varela Round', sans-serif;
    font-size: 3em;
    font-weight: 700;
    color: #000000;
    text-shadow: 0.075em 0.075em 0.1em rgba(0,0,0,0.5);
    transition: text-shadow 1000ms ease-in,
                color 1000ms ease-in;
    margin: 0;
}

.header__heading:hover {
    transition: text-shadow 500ms ease-in-out,
                color 500ms ease-in-out;
    color: #FFFF00;
    text-shadow:    0.05em 0.05em 0.025em rgba(225, 105, 0, 1),
    0.075em 0.075em 0.15em rgba(0,0,0,1);
}

/* </editor-fold desc="Header">*/

/* <editor-fold desc="Accordion">*/
.meme-accordion {
    display: grid;
    grid-template-rows: 1fr;
}

.meme-accordion__label-line {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
}

.label-line__icon {
    display: none;
}

.label-line__label,
.meme-accordion__element__label {
    /* Display */
    display: block;
    position: relative;
    z-index: 2;
    /* Font */
    font-weight: 500;
    font-size: 2em;
    color: #1545e3;
    text-shadow: 0.075em 0.075em 0.1em rgba(0,0,0,0.5);
    opacity: 0.8;
    /* Behavior */
    cursor: pointer;
}

.meme-accordion:hover .label-line__label:hover,
.meme-accordion__element__label:hover {
    color: #FFFF00;
    text-shadow:    0.05em 0.05em 0.025em rgba(225, 105, 0, 1),
                    0.075em 0.075em 0.15em rgba(0,0,0,1);
}

.meme-accordion__element__control{
    display: none;
}

.meme-accordion__element__content {
    display: grid;
    align-content: center;
    justify-items: center;
    overflow: hidden;
    /*-webkit-transition: all 0.2s ease-in-out;*/
    /*-moz-transition: all 0.2s ease-in-out;*/
    /*-o-transition: all 0.2s ease-in-out;*/
    /*-ms-transition: all 0.2s ease-in-out;*/
    /*transition: all 0.2s ease-in-out;*/
    max-height: 0;
}

.meme-accordion__element__content__img {
    max-height: 75em;
    margin: 3% 0 3% 0;
    /*-webkit-transition: transform 0.2s ease-in-out;*/
    /*-moz-transition: transform 0.2s ease-in-out;*/
    /*-o-transition: transform 0.2s ease-in-out;*/
    /*-ms-transition: transform 0.2s ease-in-out;*/
    /*transition: transform 0.2s ease-in-out;*/
    transform: scale(0);
}

.meme-accordion__element__control:checked ~ .meme-accordion__element__content {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    max-height: 75em;
}

.meme-accordion__element__control:checked ~ .meme-accordion__element__content > .meme-accordion__element__content__img {
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transform: scale(1);
    transform-origin: top;
}

.meme-accordion:hover .label-line__icon {
    display: block;
}

.meme-accordion:hover .label-line__label {
    color: #000000;
    opacity: 1.0;
}

/* </editor-fold desc="Accordion">*/

/* <editor-fold desc="Footer">*/
.footer__content {
    text-align: center;
}
/* </editor-fold desc="Footer">*/
